@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --background-colour: #162b1b;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  font-size: 1.15rem;
  font-weight: 300;
}

body {
  background: var(--background-colour);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
}
