name: Publish docker image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Login to docker registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build container image
        run: docker buildx build -t ghcr.io/NucleoidMC/nucleoid-stats:latest -t ghcr.io/NucleoidMC/nucleoid-stats:${GITHUB_SHA} .
      - name: Push image (latest)
        run: docker push ghcr.io/NucleoidMC/nucleoid-stats:latest
      - name: Push image
        run: docker push ghcr.io/NucleoidMC/nucleoid-stats:${GITHUB_SHA}

